{{!--
SPDX-FileCopyrightText: 2024 Richard Maw <richard.maw@gmail.com>

SPDX-License-Identifier: Aladdin
--}}

<html>
  <!-- vim: set sw=2 et ts=2 sts=2 expandtab syntax=html : -->
  <head>
    <link
      rel="stylesheet"
      href="lib://net.rptools.maptool/css/mt-stat-sheet.css?cachelib=false"
    />
    <link rel="stylesheet" href="./statsheet.css?cachelib=false" />
  </head>
  <body>
    <div style="display: none;" id="maxHp">{{properties.[5].value}}</div>
    <div style="display: none;" id="points">{{properties.[15].value}}</div>
    <div style="display: none;" id="bodyType">{{properties.[16].value}}</div>
    <div style="display: none;" id="traits">{{properties.[17].value}}</div>
    <script type="application/javascript">
    const MAX_HP = Number(document.getElementById("maxHp").innerText);
    const POINTS = JSON.parse(document.getElementById("points").innerText);
    const BODY_TYPE = JSON.parse(document.getElementById("bodyType").innerText);
    const TRAITS = JSON.parse(document.getElementById("traits").innerText);
    const LOCATION_INJURY = {
      "arm": {"div": 2 + (TRAITS["Extra Arm"] ?? 0),},
      "eye": {"div": 10, "excessLost": false},
      "foot": {"mult": 2, "div": 3*(2 + (TRAITS["Extra Legs"] ?? 0)),},
      "hand": {"mult": 2, "div": 3*(2 + (TRAITS["Extra Arm"] ?? 0)),},
      "head": {"mult": 2, "div": (1 + (TRAITS["Extra Head"] ?? 0))},
      "extraneous_head": {"mult": 2, "div": (1 + (TRAITS["Extra Head"] ?? 0))},
      "leg": {"div": 2 + (TRAITS["Extra Legs"] ?? 0),},
    };
    </script>
    <div id="statSheet" class="{{statSheetLocation}}">
      <div class="portraitStatSummaryRow">
        <div class="portrait">
          {{#if portrait}}
          <img
            src="{{portrait}}"
            width="{{portraitWidth}}"
            height="{{portraitHeight}}"
          />
          {{else if image}}
          <img
            src="{{image}}"
            width="{{portraitWidth}}"
            height="{{portraitHeight}}"
          />
          {{/if}}
          <div class="nameDetails">
            <div class="tokenName">{{name}}</div>
            {{#if gmName}}
              <div class="tokenGmName">({{gmName}})</div>
            {{/if}}
          </div>
        </div>
        <div class="statDetails">
          <table class="propertyTable">
            {{!-- TODO: Get enough string functions upstream that checking the prefix is possible
                  or add partial resolver support so #partial and #block can be used,
                  since this repetition and coupling with the property list isn't ideal.
            --}}
            {{!-- TODO: Change the property list to a map. This is backwards compatible
                  since @key being a number isn't useful, or add propertyMap --}}
            {{#each properties}}
              {{#and (neq name "HP") (neq name "MaxHP") (neq name "FP") (neq name "MaxFP") (neq name "ER") (neq name "Points") (neq name "BodyType") (neq name "Traits")}}
                {{#or (neq name "SM") (neq value "0")}}
                <tr>
                  <th class="playerProperty">{{#if shortName}}{{shortName}}{{else}}{{name}}{{/if}}</th>
                  <td class="propertyValue">{{value}}</td>
                </tr>
                {{/or}}
              {{/and}}
            {{/each}}
          </table>
        </div>
      </div>
      <ul id="pointBars">
        {{#with properties}}
          <li id="hpBar" class="bar" style="--negatives: 10; --max: {{{[5].value}}}; --current: {{{[4].value}}};">
            <span class="thresholdLayer">
              <span class="thresholdNegative" style="--negative: 10;"></span>
              <span class="thresholdNegative" style="--negative: 9;"></span>
              <span class="thresholdNegative" style="--negative: 8;"></span>
              <span class="thresholdNegative" style="--negative: 7;"></span>
              <span class="thresholdNegative" style="--negative: 6;"></span>
              <span class="thresholdNegative" style="--negative: 5;"></span>
              <span class="thresholdNegative" style="--negative: 4;"></span>
              <span class="thresholdNegative" style="--negative: 3;"></span>
              <span class="thresholdNegative" style="--negative: 2;"></span>
              <span class="thresholdNegative" style="--negative: 1;"></span>
              <span class="threshold"></span>
            </span>
            <span class="progress"></span>
            <span class="statLabel">{{[4].shortName}}</span>
            <span class="statValueLayer"><span id="hpValue" class="statValue">{{[4].value}}/{{[5].value}}</span></span>
          </li>
          <li id="fpBar" class="bar" style="--negatives: 1; --max: {{{[7].value}}}; --current: {{{[6].value}}};">
            <span class="thresholdLayer">
              <span class="thresholdNegative" style="--negative: 1;"></span>
              <span class="threshold"></span>
            </span>
            <span class="progress"></span>
            <span class="statLabel">{{[6].shortName}}</span>
            <span class="statValueLayer"><span id="hpValue" class="statValue">{{[6].value}}/{{[7].value}}</span></span>
          </li>
        {{/with}}
      </ul>
      <script>
      try {
        function createBar(elementType, elementId, negatives, max, current,
                           valueId, shortName) {
          const e = document.createElement(elementType);
          e.setAttribute("id", elementId);
          e.setAttribute("class", "bar");
          e.style.setProperty("--negatives", negatives);
          e.style.setProperty("--max", max);
          e.style.setProperty("--current", current);

          const thresholdLayer = e.appendChild(document.createElement("span"));
          thresholdLayer.setAttribute("class", "thresholdLayer");
          for (let i = negatives; i > 0; i--) {
            const negative = document.createElement("span");
            thresholdLayer.appendChild(negative);
            negative.setAttribute("class", "thresholdNegative");
            negative.style.setProperty("--negative", i);
          }
          const threshold = document.createElement("span");
          thresholdLayer.appendChild(threshold);
          threshold.setAttribute("class", "threshold");

          const progress = e.appendChild(document.createElement("span"));
          progress.setAttribute("class", "progress");

          if (shortName) {
            const statLabel = e.appendChild(document.createElement("span"));
            statLabel.setAttribute("class", "statLabel");
            statLabel.innerText = shortName;
          }

          const statValueLayer = e.appendChild(document.createElement("span"));
          statValueLayer.setAttribute("class", "statValueLayer");
          const statValue = document.createElement("span");
          statValueLayer.appendChild(statValue);
          statValue.setAttribute("id", valueId);
          statValue.setAttribute("class", "statValue");
          statValue.innerText = `${current}/${max}`;

          return e;
        }
        function updateBar(id) {
          const e = document.getElementById(id);
          const current = Number(e.style.getPropertyValue("--current"));
          const max = Number(e.style.getPropertyValue("--max"));
          const negatives = Number(e.style.getPropertyValue("--negatives"));
          const oldBars = Number(e.style.getPropertyValue("--bars"));
          const damage = max - current;
          const bars = Math.max(1, Math.min(negatives + 1, Math.ceil(damage / max)));
          if (bars != oldBars) {
            e.style.setProperty("--bars", bars);
          }
        }
        const list = document.getElementById("pointBars");
        Object.entries(POINTS).forEach(([pool, data]) => {
          const max = data.max;
          const damage = data.damage ?? 0;
          const current = max - damage;
          const shortName = data.shortName;

          const elementType = "li";
          const elementId = `${pool}Bar`;
          const valueId = `${pool}Value`;
          const negatives = 0;

          const bar = createBar(elementType, elementId, negatives, max, current, valueId, shortName);
          list.appendChild(bar);

          updateBar(elementId);
        });
        updateBar("hpBar");
        updateBar("fpBar");
      } catch (e) {
        document.getElementsByClassName("tokenName")[0].prepend(""+e+"\n"+e.stack);
      }
      </script>
      <div class="bodyType">
        <table>
          <thead>
            <tr><th colspan="4" id="bodyTypeName">Humanoid</th></tr>
            <tr>
              <th>Roll</th>
              <th colspan="2">Location</th>
              <th>DR</th>
              <th>HP</th>
            </tr>
          </thead>
          <tbody id="bodyTypeTableBody">
          </tbody>
        </table>
        <script type="application/javascript">
        try {
          const bodyTypeNameE = document.getElementById("bodyTypeName");
          bodyTypeNameE.innerText = BODY_TYPE.name;
          let bodyTypeTableBody = document.getElementById("bodyTypeTableBody");
          function addLocations(locations, depth) {
            for (const l of locations) {
              const r = document.createElement("tr");
              bodyTypeTableBody.appendChild(r);

              const rollE = r.appendChild(document.createElement("td"));
              rollE.innerHTML = "&emsp;".repeat(depth);
              rollE.innerText += l.rollRange;

              const nameE = r.appendChild(document.createElement("td"));
              nameE.innerHTML = "&emsp;".repeat(depth);
              nameE.innerText += l.name;

              const hitPenaltyE = r.appendChild(document.createElement("td"));
              hitPenaltyE.innerText = l.hitPenalty;

              const drE = r.appendChild(document.createElement("td"));
              drE.innerText = l.dr.all;
              drE.setAttribute("class", "locationDr");

              const locationInjury = LOCATION_INJURY[l.locationId];
              if (locationInjury) {
                const id = `${l.id}Bar`;
                const negatives = 1;
                const mult = locationInjury.mult ?? 1;
                const div = locationInjury.div ?? 1;
                const max = Math.ceil(MAX_HP * mult / div);
                const current = max - (l.damage ?? 0);
                const valueId = `${l.id}Value`;
                const bar = createBar("td", id, negatives, max, current, valueId);
                r.appendChild(bar);

                updateBar(id);
              } else {
                r.appendChild(document.createElement("td"));
              }
              if (l.subTable) {
                addLocations(l.subTable.locations, depth + 1);
              }
            }
          }
          addLocations(BODY_TYPE.locations, 0);
        } catch (e) {
          document.getElementsByClassName("tokenName")[0].prepend(""+e+"\n"+e.stack);
        }
        </script>
      </div>
    </div>
  </body>
</html>
